extends layout

block content
    div(class="ui items")
        div(class="item")
            div(class="content")
                div(class="meta")
                    | 2 days ago
                div(class="name")
                    | Cute Dog
                p(class="description")
                    | This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.</p>
            div(class="extra")
                | 199 votes
        div(class="item")
            div(class="content")
                div(class="meta")
                    | 2 days ago
                div(class="name")
                    | Cute Dog
                p(class="description")
                    | This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.</p>
            div(class="extra")
                | 199 votes
        div(class="item")
            div(class="content")
                div(class="meta")
                    | 2 days ago
                div(class="name")
                    | Cute Dog
                p(class="description")
                    | This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.</p>
            div(class="extra")
                | 199 votes
        div(class="item")
            div(class="content")
                div(class="meta")
                    | 2 days ago
                div(class="name")
                    | Cute Dog
                p(class="description")
                    | This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.</p>
            div(class="extra")
                | 199 votes
        div(class="item")
            div(class="content")
                div(class="meta")
                    | 2 days ago
                div(class="name")
                    | Cute Dog
                p(class="description")
                    | This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.</p>
            div(class="extra")
                | 199 votes