extends ../layout
block content
    div(class="ui form segment",ng-controller="LoginController",ng-view)
block scriptResource
    script(type="application/javascript" src="/js/user/app.js")
    script(type="application/javascript" src="/js/user/controller/login.js")


